.container {
  width: 100vw;
}

.successMessage {
  display: block;
  text-align: center;
}

.backToMenu {
  display: block;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.check {
  display: flex;
  margin: auto;
  justify-self: center;
}

.successMessageContainer {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-content: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.buttonContainerMobile {
  display: flex;
  width: 100%;
  justify-content: center;
}
