.carouselWrapper {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}

.slide {
  height: 87vh;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.customDots {
  height: 100px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stampContainer {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: var(--accent-color); /* Set your desired background color */
  overflow: hidden;
}

.spinningText {
  position: absolute;
  width: 4.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px; /* Set your desired font size */
  color: #fff; /* Set your desired text color */
  animation: spin 8s linear infinite; /* Adjust the animation duration and timing function as needed */
}

/* scroll icon */

.scrollIndicator {
  position: absolute;
  bottom: 70px;
  left: 90%;
  background-color: var(--off-white);
  padding: 10px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scrollContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scrollText {
  font-size: 14px;
  color: var(--grey);
}

.downArrow {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  animation: jumpAnimation 1.8s infinite; /* Adjust the duration as needed */
}
@keyframes jumpAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .button {
    display: block;
    position: absolute;
    justify-self: center;
    align-self: end;
    color: var(--off-white);
    background-color: var(--accent-color);
    padding: 8px 13px;
    border-radius: 25px;
    text-decoration: none !important;
    font-size: 24px;
    margin-bottom: 4vh;
  }
  .Picture2 {
    display: none;
  }
  .Picture3 {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .contactInfoText {
    padding: 1rem;
  }
  .scrollIndicator {
    bottom: 6rem;
    left: 10%;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
  }

  .stampContainer {
    position: absolute;
    top: 40%;
    left: 85%;
  }
}
@media only screen and (max-width: 400px) {
  .scrollIndicator {
    bottom: 2rem;
  }
}