.carouselWrapper {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}

.slide {
  height: 80vh;
}

.slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.customDots {
  height: 100px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stampContainer {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: var(--accent-color); /* Set your desired background color */
  overflow: hidden;
}

.spinningText {
  position: absolute;
  width: 4.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px; /* Set your desired font size */
  color: #fff; /* Set your desired text color */
  animation: spin 8s linear infinite; /* Adjust the animation duration and timing function as needed */
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .button {
    display: block;
    position: absolute;
    justify-self: center;
    align-self: end;
    color: var(--off-white);
    background-color: var(--accent-color);
    padding: 8px 13px;
    border-radius: 25px;
    text-decoration: none !important;
    font-size: 24px;
    margin-bottom: 4vh;
  }
  .Picture2 {
    display: none;
  }
  .Picture3 {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .contactInfoText {
    padding: 1rem;
  }
}
