.container {
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 auto;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;  }
  
  .leftNav {
    display: flex;
    align-items: center;
  }
  
  .redText {
    color: red;
    margin-right: 20px;
  }
  .leftNav a:hover{
  text-decoration: none;
}

  .rightNav {
    display: flex;
  }
  .rightNav a {
    margin-left: 30px;
  }
  
  .rightNav a:hover {
    text-decoration: underline;
  }
  