
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
  padding-right: 2%;
}

.navLinks {
  display: flex;
}

.navLink {
  margin-right: 20px;
}

.navLink p {
  color: var(--black); 
  font-weight: 300;
  text-decoration: none;
  position: relative;
}
.navLink p:hover {
  text-decoration: underline;
}

.bookTableButton p {
  background-color: var(--accent-color);
  color: var(--off-white); 
  padding: 8px 13px;
  border-radius: 25px;
  font-weight: 300;
  text-decoration: none !important;
}

.bookTableButton p:hover {
opacity: 0.9;
}
  


.navLinkText {
  color: var(--black);
  font-weight: 300;
  text-decoration: none;
  position: relative;
}

.navLinkText:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

.dot {
  padding: 7px;
  color: var(--black);
}