
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
}

.navLinks {
  display: flex;
}

.navLink {
  margin-right: 20px;
}

.navLink p {
  color: var(--black); 
  text-decoration: none;
  position: relative;
}

.active {
  font-weight: bold;
}

.dot {
  color: var(--black); 
}

.bookTableButton p {
  background-color: var(--accent-color);
  color: var(--off-white); 
  padding: 8px 13px;
  border-radius: 25px;
  text-decoration: none;
}

.bookTableButton p:hover {
opacity: 0.9;
}
  