.menuList {
  text-align: center;
}

.menuList h2 {
  padding: 0;
}

.menuItemsContainer {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  align-items: center;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.menuItems h3 {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  text-align: center;
  padding: 0;
}
