.category {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.notselected::before {
  content: "";
  color: transparent;
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 0.5em;
  vertical-align: middle;
}

.selected {
  text-decoration: underline;
}

.selected::before {
  content: "";
  background-color: black;
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 0.5em;
  vertical-align: middle;
}

.takeawayContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
}

.menuNavbar {
  display: flex;
  gap: 3rem;
}

.takeawayLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color);
  width: 16rem;
  padding: 2rem;
  color: var(--off-white);
  position: fixed;
  right: 0;
  top: 10rem;
}

.cartContainer ul {
  padding: 0;
  list-style: none;
}

.cartContainer h2 {
  color: var(--off-white);
  padding: 0;
}

.cartContainer p {
  color: var(--off-white);
}

.takeawayList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}

.listItem {
  list-style: none;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.listItem span h3 {
  padding-left: 0;
}

.listItem span h5 {
  padding-left: 0;
  font-size: 20px;
  margin: 0;
}

.priceAndQuantity {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.quantity {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.quantity button {
  border-radius: 50px;
  border: 0;
}

.total {
  border-top: 1px solid var(--off-white);
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartListItem {
  display: flex;
  justify-content: space-between;
}
