.category {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

.notselected::before {
  content: "";
  color: transparent;
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 0.5em;
  vertical-align: middle;
}

.selected {
  text-decoration: underline;
}

.selected::before {
  content: "";
  background-color: var(--grey);
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  margin-right: 0.5em;
  vertical-align: middle;
}

.takeawayContainer {
  width: 50vw;
  padding-left: 4rem;
  padding-bottom: 10rem;
}

.menuNavbar {
  display: flex;
  gap: 3rem;
  color: var(--grey);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.takeawayLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.takeawayLeft h2 {
  padding: 0;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color);
  width: 18rem;
  padding: 1.8rem;
  color: var(--off-white);
  position: fixed;
  right: 0;
  top: 6rem;
  gap: 1vh;
}

.cartContainer ul {
  padding: 0;
  list-style: none;
}

.cartContainer h2 {
  color: var(--off-white);
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 30px;
}

.cartContainer p {
  color: var(--off-white);
}

.takeawayList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-top: 0.5px solid var(--grey);
}

.noTopBorder {
  border-top: none;
}

.listItem span h3 {
  padding-left: 0;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.listItem span h5 {
  padding-left: 0;
  font-size: 20px;
  margin: 0;
}

.priceAndQuantity {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--grey);
}

.quantity {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.quantity button {
  border-radius: 50px;
  border: 0;
}

.total {
  border-top: 1px solid var(--off-white);
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartListItem {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--off-white);
  padding-top: 0.4rem;
}

.orderButton {
  padding: 0.5rem;
  background-color: var(--off-white);
  border: 0;
  border-radius: 50px;
  color: var(--accent-color);
  font-weight: 600;
  margin-top: 2rem;
}

.goBackButton {
  display: flex;
  justify-content: start;
  font-size: 14px;
  border: 0;
  color: var(--accent-color);
  background-color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding: 1rem;
}

.nameAndDescription {
  display: flex;
  flex-direction: column;
}

.showMoreButton {
  border: 0;
  background-color: var(--accent-color);
}

@media only screen and (max-width: 768px) {
  .takeawayContainer {
    padding-left: 0;
    width: 90vw;
    margin: auto;
  }

  .menuNavbar {
    gap: 1rem;
  }

  .category {
    font-size: 18px;
  }

  .cartContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    width: auto;
    height: auto;
    justify-content: end;
    padding: 1.8rem;
    color: var(--off-white);
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto;
    gap: 1vh;
  }

  .cartContainer h2 {
    display: none;
  }

  .takeawayLeft h2 {
    margin-top: 3rem;
  }
}
